{{ define "main" }}
  <article class="posts-list">
    {{ $allPosts := where .Site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $allPosts }}

    {{ if eq (len $allPosts) 0 }}
      <div class="no-posts">
        <div class="no-posts-icon">📝</div>
        <h3>No posts yet</h3>
        <p>
          Check back soon for exciting content about software engineering and
          AI!
        </p>
      </div>
    {{ else }}
      {{ partial "post-list.html" (dict "pages" $paginator.Pages "paginator" $paginator) }}
    {{ end }}
  </article>
{{ end }}
