{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $side := .Get "side" | default "right" }}
{{ $width := .Get "width" | default "400px" }}
{{- if not (hasPrefix $src "/") -}}
  {{- with .Page.Resources.GetMatch $src -}}{{- $src = .RelPermalink -}}{{- end -}}
{{- end -}}
{{ $webp := $src | replaceRE `\.(png|jpe?g)$` ".webp" }}
{{- if eq $side "left" -}}
<picture style="float: left; margin: 0 20px 20px 0; max-width: {{ $width }}; width: 100%; display: block;">
  <source srcset="{{ $webp }}" type="image/webp" />
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" style="max-width: 100%; width: 100%;">
</picture>
{{- else -}}
<picture style="float: right; margin: 0 0 20px 20px; max-width: {{ $width }}; width: 100%; display: block;">
  <source srcset="{{ $webp }}" type="image/webp" />
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" style="max-width: 100%; width: 100%;">
</picture>
{{- end }}
